<footer>
		
		<nav class="round">
		<ul>
			<li><%= link_to "about", about_path %></li>
			<li><%= link_to "contact", contact_path %></li>
			<li><a href=ffuguh>ihihi</a></li>
		</ul>

		</nav>
		</footer>
